<h2 class="text-center">{{titulo}}</h2>
<div class="row" style="padding-bottom:30px;">
  <div class="col-md-12">
    <div *ngIf="formulario">
      <form action="" autocomplete="off" [formGroup]="formulario" (ngSubmit)="save()">


        <div class=" row justify-content-center">
          <div class="col-md-12" style="width: 40%;">





            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Codigo</mat-label>
              <input matInput formControlName="codigo">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Descripcion</mat-label>
              <input matInput formControlName="descripcion">
            </mat-form-field>



            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="estado">
                <mat-option  value="true">Activo</mat-option>
                <mat-option   value="false">Inactivo</mat-option>
              </mat-select>
            </mat-form-field>








            <div class="text-end">
              <button mat-raised-button routerLink="/admin/documento">Cancelar</button>
              <button mat-raised-button color="primary">{{titulo}}</button>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>

</div>
